.dark {
  @mixin dark {
    display: block;
  }

  @mixin light {
    display: none;
  }
}

.light {
  @mixin light {
    display: block;
  }

  @mixin dark {
    display: none;
  }
}

.AppShell-navbar {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-9)
  );
}

.NavLink-root {
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-8)
    );
  }
  border-radius: var(--mantine-radius-md);
}
