@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Rounded Bold";
  src: url("../public/fonts/SF-Pro-Rounded-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Rounded Regular";
  src: url("../public/fonts/SF-Pro-Rounded-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Rounded Light";
  src: url("../public/fonts/SF-Pro-Rounded-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Rounded Thin";
  src: url("../public/fonts/SF-Pro-Rounded-Thin.woff2") format("woff2");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
