.Image-root {
  object-position: left bottom;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.Flex-root {
  cursor: pointer;
  border-radius: var(--mantine-radius-lg);
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
